*{
    padding: 0;
    margin: 0;
}
body {
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
}

.navbar-l{
    border-right: 1px solid black;
}
.img {
    display: block; 
    width: 25vh;
    border-radius: 50%; 
    margin: 0 auto; 
}

.perfil {
    position: relative; 
    display: flex;  
    flex-direction: column; 
    border-radius: 30px;
    height: 70%;
    width: 75%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: white; 
    margin: 20px;
    padding: 20px; 
}

.bio {
    overflow: hidden;
    height: auto; 
}

.info {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.recordatorios {
    height: 78vh;
    top: 0; 
    display: block;
}
.contactos {
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.contactos h2 {
    margin-bottom: 20px;
}

.contactos ul {
    list-style-type: none;
    padding: 0;
}

.contactos li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 6vh;
    padding: 0 20px; 
}

.subcontenedor {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: center;    
}

.recetas {
    border: 1px solid black;
    padding: 20px;
}

h6 {
    text-decoration: none;
    color: inherit;
}

.cubo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; 
}

.cubo1 strong {
    margin-right: 10px;
}

.cubo1 a {
    margin-left: 10px;
}
.cubo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; 
    
}

.cubo2 strong {
    margin-right: 10px;
}

.cubo2 a {
    margin-left: 10px;
}
.record {
    display: flex;
    justify-content: start;
}

.botones {
    display: flex;
    justify-content: end;
}
.nombre{
    display: flex;
    flex-direction: column;
    
}
.botones_c{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(189, 189, 189);
    padding: 10px 20px; 
}

.reminder-list {
    padding: 0;
    max-height: 13vh;
    overflow-y: auto;
}

.notification {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 1000;
}

.notification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification strong {
    margin-bottom: 10px;
}

.notification p {
    margin: 0 0 10px 0;
    text-align: center;
}

.notification button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.overlay_info {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}
.overlay_editar{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}
.nombre{
    margin: 10px;
}
.cubo1 button{
    margin: 2px;
}
.cubo2 button{
    margin: 2px;
}
.overlay_info.open {
    display: block; 
}

.info_contacto_hidden {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001; 
    width: 300px; 
}

.info_contacto_hidden.open {
    display: block; 
}
.editar_contacto_hidden{
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001; 
    width: 300px; 
    
}
#contactos_c{
    height: 33%;
    overflow: auto;
}
.form-flotante {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001; 
    width: 300px; 
}
.recordatorios {
    width: 30%; 
}

.avisos{
    position: fixed;
    display: block;
}
#button{
    background-color: #28a745;
    height: 4vh;
    width: 15vh;
    border-radius: 5px;
    border: 0;
    color: white;
}
/* Código Responsivo */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; 
        align-items: center; 
    }

    .subcontenedor {
        width: 90%; 
    }

    .recordatorios {
        width: 100%; 
    }
    .cubo1{
        position: relative; 
        overflow: hidden;
    }
    .cubo2{
        position: relative; 
        overflow: hidden;
    }
    .record {
        font-size: 15px;
    }
    .botones{
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .botones_c{
        display: flex;
        flex-direction: column;
    }
    #button_ver{
        height: 30px;
    }
    #button_editar{
        height: 30px;
    }
}
.mover{
    margin-left: 13vh;
    transition: transform 0.3s ease;
}


body.light {
    background-color: white; 
    color: black; 
}

body.dark-mode {
    background-color: black; 
    color: white; 
}

.navbar-l, .recordatorios, .cubo, .form-flotante {
    background-color: white; /* Fondo claro para otros elementos */
}

body.dark-mode , 
body.dark-mode .recordatorios, 
body.dark-mode .cubo1,
body.dark-mode .form-flotante {
    background-color: black; /* Fondo oscuro para otros elementos */
}
body.dark-mode .contactos{
    background-color: rgb(227, 227, 227);
    border: 1px solid rgb(0, 0, 94);
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
body.dark-mode .navbar-hiden, 
body.dark-mode .navbar-l{
    background-color: rgb(0, 8, 101);
    border-right: 1px solid gray;
}
body.dark-mode .cubo2{
    border: 1px solid black;
    color: black;
    background-color: transparent;
    box-shadow: 1px 1px 2px;
}
body.dark-mode .perfil{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: black;
    background-color: rgb(227, 227, 227);
}
body.dark-mode 
.btn-success {
    background-color: #28a745; 
}
body.dark-mode .primer_t{
    border-bottom: 2px solid white;
    padding-bottom: 1px; 
    color: white; 
    width: 40%;
}
body.dark-mode .btn-success {
    background-color: #4caf50; 
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; 
    transition: .4s; 
    border-radius: 34px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px; 
    bottom: 4px; 
    background-color: white;
    transition: .4s; 
    border-radius: 50%; 
}


input:checked + .slider {
    background-color: #2196F3; 
}

input:checked + .slider:before {
    transform: translateX(26px); 
}
.modo_oscuro{
    position: absolute;
    top: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    border-radius: 10px;
    
}