<link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const today = new Date(); 
    const day = String(today.getDate()).padStart(2, '0'); 
    const month = String(today.getMonth() + 1).padStart(2, '0'); 
    const year = today.getFullYear(); // Año

    const formattedDate = `${year}-${month}-${day}`; 

  
    const fechaInput = document.getElementById("fecha");
    fechaInput.setAttribute("min", formattedDate); 
});
</script>

{% extends "base_template.html" %}

{% block titulo %}
    Editar Recordatorio
{% endblock %}

{% block contenido %}

<div class="container"><br>
    <h1>Editar Recordatorio</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.titulo.label }} 
            {{ form.titulo(class="form-control", placeholder="Título del recordatorio") }}  
        </div>
        <div class="mb-3">
            {{ form.fecha.label }} 
            {{ form.fecha(class="form-control", id="fecha" , placeholder="DD-MM-YYYY", type="date") }}
        </div>
        <div class="mb-3">
            {{ form.hora.label }}  
            {{ form.hora(class="form-control", placeholder="HH:MM") }}  
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    
    
</div>

{% endblock %}