<div class="col-6">
        <h1>Acceso de usuarios</h1>
            <form action="/login" method="POST">
                {{ form_acceso.hidden_tag() }}
                {{ form_acceso.correo.label }}
                {{ form_acceso.correo(class="form-control") }}
                {{ form_acceso.clave.label }}
                {{ form_acceso.clave(class="form-control") }}
                <br>
                {{ form_acceso.submit(class="btn btn-primary") }}
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <footer>
    <p>© 2024 Remember It. Todos los derechos reservados.</p>
    </footer>
</div>