<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='iniciar.css')}}">
    <title>Acceder</title>
</head>
<body>
    <div class="col-12">    
        <br><br><br>
        <h1>Acceso de usuarios</h1>
        <hr class="line">
        <br>
        <br>
        <form action="/login" method="POST">
            <div class="formulario">
                <h3 class="text-decoration-underline">Iniciar Sesión</h3>
                    {{ form_acceso.hidden_tag() }}
                    {{ form_acceso.correo.label() }} <br>
                    {{ form_acceso.correo( class="box", placeholder="Correo Electrónico", id="email") }} <br>
                    {{ form_acceso.clave.label() }} <br>
                    {{ form_acceso.clave( class="box", placeholder="Contraseña", id="email") }} <br>
                <div class="botones">
                    <a href="{{ url_for('register') }}">Crear Cuenta</a>
                    {{ form_acceso.submit(class="acceder") }}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="recordar">
                        <label class="form-check-label" for="defaultCheck1" >Recuerdame</label>
                    </div>
                </div>        
            </div>            
        </form>
    </div>
    <footer>
        <p>© 2024 Remember It. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

