<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados_test.css') }}">
    <script src="{{ url_for('static', filename='color.js') }}" defer></script>
    <title>Resultados Test</title>
</head>
<body>
    <div class="contenedor">
        <h1>Resultados del Test de Alzheimer</h1>
    
        <p><strong>Pregunta 1:</strong> {{ test.p1 }} </p>
        <p><strong>Pregunta 2:</strong>  {{ test.p2 }} </p>
        <p><strong>Pregunta 3:</strong>  {{ test.p3 }} </p>
        <p><strong>Pregunta 4:</strong>  {{ test.p4 }}</p>
        <p><strong>Pregunta 5:</strong>  {{ test.p5 }}</p>
        <p><strong>Pregunta 6:</strong>  {{ test.p6 }}</p>
        <p><strong>Puntaje Obtenido:</strong> {{ test.puntaje }}</p>
        <p><strong>Grado de Alzheimer:</strong> {{ test.grado_alzheimer }}</p>
    </div>
    

    <a href="{{ url_for('hacer_test') }}">Realizar otro test</a>
    <br>
    <div class="modo_oscuro">
        <h4>Modo oscuro</h4>
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>  
    </div>
</body>
</html>