<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Test de Alzheimer</title>
</head>
<body>
    <a href="/"><i class='bx bx-arrow-back'></i></a>
    
    <h1>Este es un test para tener un nivel aproximado de Alzheimer. </h1>
    <h3>(Este test no tiene resultados medicos reales, si necesita resultados exactos acuda a su medico de confianza)</h3>
    <p><strong>Por cada pregunta respondida en "SI" se añadiran 5 puntos</strong></p>
    <div class="TestMemoria">
        <form action="{{ url_for('hacer_test') }}" class="test" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <p>¿Has olvidado cosas que solías recordar fácilmente, como nombres o fechas importantes? </p>
                {{ form.p1 }}
            </div>
            <div class="mb-3">
                <p>¿Te resulta difícil recordar lo que hiciste hace poco, como lo que comiste o dónde estuviste?</p>
                {{ form.p2 }}
            </div>
            <div class="mb-3">
                <p>¿Te has perdido en lugares familiares, como tu casa o tu vecindario?</p>
                {{ form.p3 }}
            </div>
            <div class="mb-3">
                <p>¿Te cuesta encontrar las palabras correctas cuando hablas o te cuesta seguir una conversación?</p>
                {{ form.p4 }}
            </div>
            <div class="mb-3">
                <p>¿Tienes problemas para realizar tareas cotidianas que antes te resultaban fáciles, como cocinar o hacer compras?</p>
                {{ form.p5 }}
            </div>
            <div class="mb-3">
                <p>¿Te resulta difícil tomar decisiones o juzgar situaciones que antes no te causaban problemas?</p>
                {{ form.p6 }}
            </div>
            {{ form.submit_t(class="btn btn-primary") }}
        </form>
    </div>
</body>
</html>