<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de Alzheimer</title>
</head>
<body>
    <a href="/">Volver al Perfil</a>
    <form action="Post" class="test">
        <h3>Memoria</h3>
        <label for="nombre">1. ¿Cuál es tu nombre completo?</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="fecha_nacimiento">2. ¿Cuál es tu fecha de nacimiento?</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

        <label for="comida">3. ¿Recuerdas qué comiste ayer?</label>
        <input type="text" id="comida" name="comida" required><br><br>

        <label for="objetos">4. ¿Puedes nombrar tres objetos que acabo de mencionarte?</label>
        <input type="text" id="objetos" name="objetos" required><br><br>

        <h3>Orientación</h3>
        <label for="ciudad">5. ¿En qué ciudad vives?</label>
        <input type="text" id="ciudad" name="ciudad" required><br><br>

        <label for="fecha">6. ¿Cuál es la fecha de hoy?</label>
        <input type="date" id="fecha" name="fecha" required><br><br>

        <label for="dia_semana">7. ¿Qué día de la semana es?</label>
        <input type="text" id="dia_semana" name="dia_semana" required><br><br>

        <h3>Lenguaje</h3>
        <label for="objetos_nombre">8. ¿Puedes nombrar los siguientes objetos? (Menciona tres objetos)</label>
        <input type="text" id="objetos_nombre" name="objetos_nombre" required><br><br>

        <h3>Razonamiento</h3>
        <label for="horas_dia">9. ¿Cuántas horas hay en un día?</label>
        <input type="number" id="horas_dia" name="horas_dia" required><br><br>

        <label for="dinero">10. Si tienes un dólar y compras un artículo que cuesta 75 centavos, ¿cuánto dinero te queda?</label>
        <input type="number" id="dinero" name="dinero" required><br><br>

        <h3>Tareas de planificación y organización</h3>
        <label for="compras">11. ¿Cómo harías una lista de compras para una cena?</label>
        <textarea id="compras" name="compras" required></textarea><br><br>

        <button type="submit">Enviar Test</button>
    </form>
</body>
</html>